body {
    margin: 0;
    /* background-image: url('../assets/bgjungle.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url("../assets/bgforgame.jpg")
}

html {
    overflow: hidden;
}

#cheetah-container {
    height: 80px;
    width: 100vw;
    outline: 1px solid black;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    /* background-color: white; */
}

#yardage {
    height: 100px;
    width: 8.3333vw;
    background-color: green;
    /* position: absolute; */
    border: solid 1px white;
    background-image: url("../assets/grass.jpg");
}


#cheetah {
    position: absolute;
    height: 170px;
    width: 170px;
    padding-bottom: 15px;
    /* outline: 1px solid black; */
    /* background-color: red; */
    bottom: 1px;
    left: 0;
    content: url("../assets/right_cheetah.png");
}

.disabled {
    pointer-events:none;
    color:#AAA;
    background:#F5F5F5;
}


#finish-line {
    position: relative;
}

/* #game-container {
    height: 70%;
    width: 80%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/gamebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;

} */

#game-content {
    width: 600px;
    height: 350px;
    border: solid orange 1px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-weight: bold;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.6);
}

#game-description p {
    font-size: 25px;
    color: black;
    font-family: 'Permanent Marker', cursive;
}

#game-description span {
    font-size: 25px;
    color: red;
    font-family: 'Permanent Marker', cursive;
}

#game-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-over {
    font-size: 25px;
    color: red;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 20px;
}

#level-buttons p {
    font-size: 18px;
    color: black;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 10px;
}

#main-container {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    margin-bottom: 10px;
}

#main-title {
    margin-top: 30px;
    padding: 0;
    font-size: 70px;
    color: #CDB498;
    font-weight: 900;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 6px 4px lightslategray;
}



#medium {
    color: white;

}


#social-logos {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

#social-logos i:hover {
        top: 10px;
            box-shadow: 0 6px #666;
    transform: translate(4px, 4px); 
}

#social-logos i {
    font-size: 40px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#sound-settings {
    border: none;
    outline: none;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.6);

    
}

#sound-settings:hover {
    top: 10px;
            /* box-shadow: 0 6px #666; */
    transform: translate(4px, 4px); 
}



.spelled-right {
    color: green;
}

.spelled-wrong {
    color: red;
    /* text-decoration: underline; */
}

#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25%;
    font-family: 'Indie Flower', cursive;


    margin-bottom: 15px;
}

#stats p {
    font-size: 24px;
}

#timer {
    font-size: 40px;
    color: #CDB498;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
    font-family: 'Goldman', cursive;


    margin-left: 10px;
}

#timer-guide {
    margin-top: 20px;
    margin-bottom: -20px;
}

#words-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;

}

#words-display {
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    font-size: 32px;
    font-family: 'Indie Flower', cursive;



}

#words-input {
    border: solid 1px black;
    outline: none;
    height: 60px;
    padding: .5rem 1rem;
    font-size: 32px;
    border-radius: .5rem;
    resize: none;
    font-family: 'Indie Flower', cursive;


}

#flag1 {
    margin-top: -80px;
    font-size: 100px;
    color: black;
    position: absolute;
    z-index: 1;
}

#flag {
    margin-top: -80px;
    font-size: 100px;
    color: red;
    position: absolute;
    z-index: 5;
    /* background: black; */
}

#yardage p {
    color: white;
    /* font-family: Clarendon Bold; */
    /* z-index: 99; */
    font-family: 'Goldman', cursive;

}

#level-display {
    font-family: 'Goldman', cursive;
}






